body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 110%;

}

h1 {
  color: #4a47a3;
  font-size: 4rem;
  margin: 50px auto 0 auto;    /*top right bottom left */
  font-family:'Cormorant Garamond', serif;

}

h2 {
  color: #4a47a3;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;

}

h3 {
  color: #1e2022;
  font-family: 'Montserrat', sans-serif;
}

.intro {
  width: 30%;
  margin: auto;
}

p {
  line-height: 1.8;
}

hr {
  border: dotted;
  border-width: 5px;
  border-top: none;
  width: 5%;
  color: #888888
}

.top-container {
  background-color: #a6b1e1;
  position: relative;
  padding-top: 100px;
}

.middle-container {

}

.bottom-container {
  background-color: #3f72af;
  padding: 30px 0 10px;
}


.bottom-cloud{
  position: absolute;
  left: 200px;
  bottom: 300px;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;

}

.text{
  position: absolute;
  top: 100px;
}


.skill-row {
  width: 50%;
  margin: 30px auto 30px auto;
  text-align: left;
  line-height:1.8;
}

.code {
float: left;
margin:40px 30px auto auto;
width: 20%;

}

.chicken {
  float: right;
  margin: 15px auto auto 30px;
  width: 20%;
}

.sign {
  color: #f6f6f6;
  font-size: 0.75rem;
  padding: 20px 0 10px 0;
}

a {
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  color: #212121;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #f6f6f6;
}
